$white: #ffffff;
$white_B7: #B7B7B7;
$white_E7: #e7e3e3;
$white_F8: #f8f8f8;
$black_63: #63666A;



// Font weight variables
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$bolder: 800;
$extra_bold: 900;